<div>
    <table class="table">
        <thead>
            <tr class="table-dark">
                <th scope="col">#</th>
                <th scope="col">Nombre Materia</th>
                <th scope="col">Detalle</th>
                <th scope="col">Ubicacion</th>
                <th scope="col">Ubicacion Anual</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">?</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>